<div class="col-md-12 text-center">
  <div class="section-title">
    <h2>{{ title }}</h2>
    <div class="title-img">
      <img src="/themes/custom/kilombo_theme/images/heading-shape.png" class="img-responsive" alt="title">
    </div>
  </div>
</div>
