<ul class="footer-list">
  {% for item in items %}
    {%
      set classes = [
      'menu-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ]
    %}
    <li{{ item.attributes.addClass(classes) }}>
      <i class="fa fa-angle-right"></i> {{ link(item.title, item.url) }}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
