.section-title h2 {
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
#about-1 #about-img {
  text-align: center !important;
}
#about-1 #about-img img,
#what-we-do #about-img img {
  max-height: 350px;
  margin: 0 auto;
}
.about-team-img img {
  max-height: 200px;
}
section#volunteer-section,
section#what-we-do {
  background: #f5f5f5;
  padding: 80px 0px 80px;
}
